.country-card {
  background-color: $white;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
  z-index: 1;
  border: 0 none;
  width: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: transform 200ms cubic-bezier(0.34, 2, 0.6, 1), box-shadow 100ms ease;

  a {
    background-color: transparent;
    &:not(.btn) {
      color: #444;
    }
    &:hover {
      text-decoration: none;
      // color: $black;
    }
    &:focus {
      // color: $black;
    }
  }
  &:not(.card-register) {
    cursor: pointer;
    &:hover {
      box-shadow: 0px 12px 19px -7px rgba(0, 0, 0, 0.3);
      transform: translateY(-10px);
    }
  }
  .card-title {
    margin-bottom: 0.5rem !important;
  }

  .card-body {
    background-color: $white;
    min-height: 125px;
    position: relative;
  }

  .card-img-top {
    height: 170px;
    object-fit: cover;
  }
}

@include media-responsive(max-width, 991px) {
  .country-card {
    width: 300px;
  }
}

@include media-responsive(max-width, 766px) {
  .country-card {
    width: 230px;
    margin-right: 20px;
  }
}

@include media-responsive(max-width, 576px) {
  .country-card {
    width: 300px;
  }
}
