.left-side {
  grid-area: left-side;
}

.right-side {
  grid-area: right-side;
}

.description {
  flex-grow: 1;
  flex-shrink: 1;
  .description-wrapper {
    .name {
      font-weight: 800;
    }
    .details-grid {
      margin-top: 30px;
      display: grid;
      grid-template-columns: 40% 48%;
      column-gap: 50px;
      grid-template-areas: 'left-side right-side';

      @media screen and (max-width: 1200px) {
        column-gap: 30px;
        grid-template-columns: 48% 45%;
      }

      @media screen and (max-width: 545px) {
        row-gap: 30px;
        grid-template-columns: 1fr;
        grid-template-areas:
          'left-side'
          'right-side';
      }

      .right-side {

        .nested-list-field {
            max-width: 350px;
        }
      }
    }
    .border-countries {
      margin-top: 40px;

      .borders {
        margin-top: 10px;
        max-width: 600px;

        @media screen and (max-width: 1200px) {
          max-width: 400px;
        }

        @media screen and (max-width: 991px) {
          max-width: 600px;
        }
      }
    }
  }
}
