@import './theme';

body {
  // background-color: $black;
  background-color: hsl(0, 0%, 98%);
  font-family: 'Nunito Sans', sans-serif;
}
main {
  min-height: 80vh;
}

.bold {
  font-weight: bold;
}

.no-border-radius {
  border-radius: 0%;
}
.white {
  color: $white;
}

.bg-black {
  background-color: $black !important;
}
.mt-100 {
  margin-top: 100px;
}

.pad-left-5 {
  padding-left: 5rem;
}

.pad-right-5 {
  padding-right: 5rem;
}

.space-left-4 {
  margin-left: 4px;
}
.space-right-4 {
  margin-right: 4px;
}
.very-dark-blue {
  color: hsl(200, 15%, 8%);
}
.weight-800 {
  font-weight: 800;
}
.weight-600 {
  font-weight: 600;
}
.mt-20 {
  margin-top: 20px;
}
.mb-down {
  margin-bottom: 0.2rem;
}
.mb-30 {
  margin-bottom: 30px;
}
.width-40 {
  width: 40%;
}

.home-widget-grid {
  display: grid;
  grid-template-columns: 90% 10%;
  column-gap: 10px;
  grid-template: 'search region';

  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template:
      'search'
      'region';
  }
}
