@import './theme';

body {
  background-color: $very-light-gray;
  font-family: 'Nunito Sans', sans-serif;
}
main {
  min-height: 80vh;
}

.bold {
  font-weight: bold;
}

.no-border-radius {
  border-radius: 0%;
}
.white {
  color: $white;
}

.bg-black {
  background-color: $black !important;
}
.mt-100 {
  margin-top: 100px;
}

.pad-left-5 {
  padding-left: 5rem;
}

.pad-right-5 {
  padding-right: 5rem;
}

.space-left-4 {
  margin-left: 4px;
}
.space-right-4 {
  margin-right: 4px;
}
.very-dark-blue {
  color: $very-dark-blue;
}
.weight-800 {
  font-weight: 800;
}
.weight-600 {
  font-weight: 600;
}
.mt-20 {
  margin-top: 20px;
}
.mb-down {
  margin-bottom: 0.4rem;
}
.mb-30 {
  margin-bottom: 30px;
}
.width-40 {
  width: 40%;
}

.home-widget-grid {
  display: grid;
  grid-template-columns: 90% 10%;
  column-gap: 10px;
  grid-template: 'search region';

  @media screen and (max-width: 991px) {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template:
      'search'
      'region';
  }
}

.click-button{
  color:$very-dark-blue;
  background-color: $white;
  border: 0 none;
  border-radius: 5px;
  width: 120px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

  &:hover{
    background-color: $white;
    color:$very-dark-blue;
  }
}

.pt-25{
  padding-top: 25px;
}
.pb-25{
  padding-bottom: 25px;
}
p{
  color: $very-dark-blue;
}
.space-left-10{
  margin-left: 10px;
}

.width-auto{
  width: auto;
}

.inline{
  display: inline;
}
.parent-width{
  width: 100%;
}

.flag-wrapper{
  @media screen and (max-width: 768px) {
    width: 100%;
  }

  img{
    width: 100%;
  }
}

.detail-wrapper{
  @media screen and (max-width: 1200px) {
    margin-top: 20px;
  }

  @media screen and (max-width: 480px) {
    justify-content: flex-start!important;
  }
}

.back-button-wrapper{
  @media screen and (max-width: 480px) {
    margin-top: 0px;
  }
}
